@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script:wght@500&display=swap');

h1 , h2 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}

body {
    font-family: 'Crimson Text', serif;
    text-transform:lowercase ;
}

#logo {
    text-align: center;
    color: black;
}

#menu li {
    display: inline;
    text-decoration: black;
}

#menu {
    width: 100%;
    overflow: auto;
}

#menu a{
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    width: 23%;
    text-align: center;
    color: black;
}

#menu a:hover {
    background-color: lightgray;
    text-decoration: solid;
}

h1, a {
    text-decoration: none;
}

@media (max-width: 600px) {
       #menu {
        display: inline;
        text-align: center;

       
    }
}


