@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script:wght@500&display=swap');

h1 , h2 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    color: black;
}

body {
    font-family: 'Crimson Text', serif;
    text-transform:lowercase ;
    color: #3a3a3a;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
}

#logo {
    text-align: center;
    font-size: 300%;
    text-align: center;
}

#menu {
    background-color: blue;
    text-align: center;
}

#menu li{
    display: inline;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    margin-right: 250px;
    width: 80%;
    font-size: 150%;
}

#menu a {
    text-decoration:none;
    text-transform: uppercase;
}
