@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script:wght@500&display=swap');

h1 , h2 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    color: black;
}

body {
    font-family: 'Crimson Text', serif;
    text-transform:lowercase ;
    color: #3a3a3a;
    margin: 0;
    padding: 0;
}

header {
    background-color:whitesmoke;
    height: 50px;
}

#logo {
    float: right;
    font-size: 300%;
    text-align: center;
    margin: 0;
    padding-right: 100px;
}

#menu {
    background-color: whitesmoke;
    font-size: 150%;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-left: 100px;
    margin-right: 25px;
}

#menu a {
    text-decoration:none;
    text-transform: uppercase;
    color: inherit;
}

#menu a:hover{
    background-color: black;
    color: white;
   }

#image-area {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#vineyard-image {
    height: 600px;
    width: 90%;
    background-image: url('/images/main-image-wineyard.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

#cover-text {
    color: black;
    font-size: 130%;
    text-transform: uppercase;
    width: 300px;
    height: 100px;
    position:relative;
    top: 250px;
    left: 200px;
}

#cover-text h3 {
    text-align: center;
    font-family:'Dancing Script', cursive ;
    margin:0;
    }

#cover-text p {
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    text-align: center;
    }

#history {
    height: 500px;
    background-color: lightgrey;
}

#left-about {
    padding-top: 50px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 50px;
    width: 50%;
    float: right;
    
}

#history h2 {
    text-align: center;
    font-size: 200%;
    letter-spacing: 3px;
}

.left-text {
    float: right;
    width: 60%;
    text-align: right;
    font-weight: bold;
    text-transform: capitalize;    
    }

    #circle-image {
        width: 300px;
        height: 300px;
        border-style: double;
        border-color: black;
        border-width: 2px;
        border-radius: 50%;
        margin-left: 100px ;
    }

    #circle-image-ceo {
        background-image: url('../images/Ceo\ for\ vineyard.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 80%; 
        height: 100%;      
    }

    #right-about p{
        font-style: italic;
        text-transform: capitalize;
        font-size: 100%;
        margin-left: 75px;
    }

    #wines {
        height: 500px ;
        background-color: whitesmoke;
        width: 100%;     
    }

    #wines-title{
        font-size: 200%;
        letter-spacing: 3px;
        text-align: center;
    }

    #redwine-left {
    padding-top: 20px;
    width: 33%;
    float: left;
    }

    #rosewine-right {
        padding-top: 20px;
        width: 33%;
        float: right;
    }
    
    #whitewine-center {
        padding-top: 20px;
        width: 33%;
        margin: 0 auto;    
    }

    #redwine-around {
        width: 300px;
        height: 350px;
        border-style: double;
        border-color: black;
        border-width: 2px;
        border-radius: 10%;
        float: right;
    }

    #redwine-image {
        height: 70%;
        width: 80%;
        margin: 0 auto;
        background-image: url('../images/red\ wine.jpg');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    #rosewine-around {
        width: 300px;
        height: 350px;
        border-style: double;
        border-color: black;
        border-width: 2px;
        border-radius: 10%;
        float: left;
    }

    #rosewine-image {
        height: 70%;
        width: 80%;
        margin: 0 auto;
        background-image: url('../images/Rose\ wine.webp');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    #whitewine-around {
        width: 300px;
        height: 350px;
        border-style: double;
        border-color: black;
        border-width: 2px;
        border-radius: 10%;
        margin: 0 auto;
    }

    #whitewine-image {
        height: 70%;
        width: 80%;
        margin: 0 auto;
        background-image: url('../images/wine\ wine.webp');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    #redwine-purchase {
        text-align: center;
        text-transform: capitalize;
        font-weight: 200;
    }

    hr {
        border-color:#3a3a3a;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #whitewine-purchase {
        text-align: center;
        text-transform: capitalize;
        font-weight: 200;
    }
    #rosewine-purchase {
        text-align: center;
        text-transform: capitalize;
        font-weight: 200;
    }
